$primary-color: #1c80ef;
$secondary-color: #068206;
$white-color: #fff;
$green-color: #068206;
$red-color: #ee2200;
$border-color: #e1e5ef;
$bg-gray: #f6f7fa;

// Text colors

$dark-text-color: #161f30;
$light-text-color: #777e90;

// Drop shadows
$box-shadow: 0px 3px 6px #00000029;

// Font sizes
$f-lg: 34px;
$f-m: 18px;
$f-s: 14px;
$f-xs: 10px;

$fr-lg: 26px;
